body {
  background-image: url('background3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
h3 {
  text-align: center;
  color: white;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
h2 {
  text-align: center;
  color: white;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}
h1 {
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.card-text {
  color: white;
}
.form-floating {
  width: 400px;
  padding: 10px;
}

h6 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}
h5 {
  color: white;
}
p{
  color: white;
}

.card-text {
  color: white;
}
h7 {
  text-align: center;
  color: white;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

footer {
  display: flex;
  justify-content: flex-end; 
  padding: 550px 10px;    
  position: fixed; 
    
}

.copyright {
  margin: 0;
  font-size: 20px;
  color: #666666;
}
